body {
   	color: #333333;
	font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;font-size: 20px;
	line-height: 150%;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 20px;
}

input {
	font-size: 15px;
}


h1, h2, h3, h4, h5, h6 {
    color: #195698;
    font-family: Georgia,"Times New Roman",Times,serif;
}

em {
	font-weight: bold;
}

table {
	font-size: 15px;
	border-width: 1px;
	border-collapse: collapse;
}

table th {
	background-color: #69C;
	text-indent: 8px;
	border-style: solid;
	border-color: gray;
}

table td {
	text-indent: 8px;
	border-style: solid;
	border-color: gray;
	
}

table a {
	color: inherit;
	text-decoration: none;
}

section {
	width: 50%;
}
section#about {
	font-size: smaller;
}
section#results {
	width: 90%;
}

td.file {
	white-space: nowrap;
}