#{extends 'main.html' /}
#{set title:'EPUB Validation Results' /}
#{script 'jquery.tablesorter.min.js' /}
#{script 'colResizable-1.3.min.js' /}
#{script 'table.js' /}

<section id="results">
%{if(fileError == true) { }%
	<h1>Error</h1>
	<p>Error reading input file. Please ensure that it is <em>10MB or less</em> in size.</p>

%{ } else { }%

	<h1>EPUB Validation Results</h1> 
	
	<p><em>Detected version:</em> EPUB ${version}</p>
	
	%{ if(results.isEmpty()) { }%
		<p><em>Results: </em> Congratulations! No problems were found in '<em class="it">${filename}</em>'.</p>

	%{ } else { }%
		<p><em>Results: </em> The following problems were found in '<em class="it">${filename}</em>':</p>
		<table class="tablesorter">
			<thead>
				<tr>
					<th><a href="#" title="Sort by type">Type</a></th>
					<th><a href="#" title="Sort by file">File</a></th>
					<th><a href="#" title="Sort by line number">Line</a></th>
					<th><a href="#" title="Sort by position">Position</a></th>
					<th><a href="#" title="Sort by message">Message</a></th>
				</tr>
			</thead>
			<tbody>
			#{list items:results, as:'result'}
				<tr>
				    <td>${result.type}</td>
				    <td class="file">${result.file}</td>
				    <td>${result.lineNr}</td>
				    <td>${result.position}</td>
				    <td>${result.message}</td>
				</tr>
			#{/list}
			</tbody>
		</table>
	%{ } }%
%{ } }%

<p><a href="../">Back to validator</a></p>
</section>