#{extends 'main.html' /}
#{set title:'EPUB Validation Results' /}

%{if(fileError == true) { }%
	<h1>epubcheck error</h1>
	<p>Error reading input file. Please ensure that it is <em>10MB or less</em> in size.</p>

%{ } else { }%

	<h1>EPUB Validation Results</h1> 
	
	%{ if(results.size == 0) { }%
		<p>Congratulations, '<em>${filename}</em>' is valid</p>

	%{ } else { }%
		<p>The following errors were found in '<em>${filename}</em>':</p>
		<table>
			<thead>
				<tr>
					<th><a class="thlink" href="#">Type</a></th>
					<th><a class="thlink" href="#">File</a></th>
					<th>Line</th>
					<th>Position</th>
					<th><a class="thlink" href="#">Message</a></th>
				</tr>
			</thead>
			<tbody>
			#{list items:results, as:'result'}
				<tr>
				    <td>${result.type}</td>
				    <td>${result.file}</td>
				    <td>${result.lineNr}</td>
				    <td>${result.position}</td>
				    <td>${result.message}</td>
				</tr>
			#{/list}
			</tbody>
		</table>
	%{ } }%
%{ } }%

<p><a href="../">Back to validator</a></p>