<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		
        #{get 'moreScripts' /}
    </head>
    <body>
		<header>
			<a href="http://www.idpf.org" title="IDPF homepage">
					<img id="header_image" src="@{'/public/images/idpf-logo.gif'}" alt="IDPF logo">
			</a>
		</header>
		#{doLayout /}
    </body>
</html>
